:root {
   --color-primary: rgb(255, 0, 0);
   --background-color-outline: rgb(128, 128, 128);
   --color-secondary: rgb(139, 0, 0);
   --background-color: 
}

.nadpis {
    font-family: "Anta", sans-serif;
 }
 
 header {
    background-color: var(--background-color-outline);
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center
 }
 
 body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
 }
 
 main {
    text-align: center;
    font-family: "Kode Mono", monospace;
 }
 
 nav {
    display: flex;
    position: sticky;
 }

 footer {
    background-color: var(--background-color-outline); 
    color: var(--color-primary);
    font-family: "Anta", sans-serif;
    position: fixed;
    bottom: 0px;
    min-width: 100%;
    }
 
 li {
    list-style: none;
    display: inline;
    text-align: center;
 }

 img {
   max-height: 100px;
   max-width: 100px;
   position: absolute;
   right: 0px;
   top: 0px;
 }


a:link {
   color: var(--color-primary);
 }
 

 a:visited {
   color: var(--color-primary);
 }
 

 a:hover {
   color: var(--color-secondary)
 }
 

 a:active {
   color: var(--color-secondary)
 } 

 form {
   max-width: 1000px;
   margin: auto;
   display: flex;
   flex-direction: column;
 }

 form > input, form > button {
   padding: 6px;
   border: 1px solid var(--color-primary);
   font-size: 24px;
   background-color: var(--background-color-outline);
}
button {
   max-width: 200px;
   max-height: 50px;
   justify-content: center;
   display: block;
   margin: auto;
}
